<div id="supportingText">
    <div id="explanation">
        <p class="p1"><span>
            <h3>Code metrics for this submission</h3>

            <table border="1px" bgcolor="ffffff" cellpadding="5px" cellspacing="0px">
                    <tbody align="center">
                    <% @metricities.keys.each do |key| %>
                        <tr>
                        <td><%= key.humanize %></td>
                        <td><%= @metrics[key] %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </span></p>
    </div>
    <div id="explanation">
        <p class="p1"><span>
            <h3>Training Sets</h3>
            <% result = {}
               @training_sets.each do |training_data_set|
                 training_data_set.metrics.entries.each do |name, metric|
                 (result[name] ||= []) << metric.mean
                 result[name] << Math.sqrt(metric.sample_variance)
               end
            end %>

            <table border="1px" bgcolor="ffffff" cellpadding="5px" cellspacing="0px">
                <thead>
                    <th></th>
                    <% @training_sets.map(& :name).each do |name| %>
                        <th colspan="2"><%= name %></th>
                    <% end %>
                </thead>
                <tbody align="center">
                    <tr>
                    <td></td>
                    <td>Mean</td>
                    <td>Standard Deviation</td>
                    <td>Mean</td>
                    <td>Standard Deviation</td>
                    <td>Mean</td>
                    <td>Standard Deviation</td>
                    </tr>
                    <% result.each do |name, values| %>
                        <tr>
                            <td><%= name.humanize %></td>
                            <% values.each do |value| %>
                                <td><%= value %></td>
                            <% end %>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </span></p>
    </div>

    <div id="explanation">
        <p class="p1"><span>
            <h3>This code is <%= @prediction %></h3>
        </span></p>
      <div id='add'>
        <a style="text-decoration: none;" href = "#{ judge_url(:id => params[:id], :pursue => 'strong_pursue')}" onmouseover="this.style.color='#ADD8E6'"  onmouseout="this.style.color='#4A6E33'">Strong Pursue</a>|
        <a style="text-decoration: none;" href = "#{ judge_url(:id => params[:id], :pursue => 'pursue')}" onmouseover="this.style.color='#ADD8E6'"  onmouseout="this.style.color='#FFBF00'">Pursue</a>|
        <a style="text-decoration: none;" href = "#{ judge_url(:id => params[:id], :pursue => 'pass')}" onmouseover="this.style.color='#ADD8E6'"  onmouseout="this.style.color='#FF0000'">Pass</a>|
        <a style="text-decoration: none;" href = "#{ other_reviews_url(:id => params[:id])}" onmouseover="this.style.color='#ADD8E6'"  onmouseout="this.style.color='#0AFF00'">Get Other Opinions</a>
    </div>
      </div>
</div>
<% content_for :side_links do %>
    <li><%= link_to "New Review", new_review_url %></li>
    <li><%= link_to "About", about_url %></li>
<% end %>